@import url("chrome://messenger/skin/");
@import url("chrome://messenger/skin/primaryToolbar.css");
@import url("chrome://global/skin/toolbar.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#gfn_lbContactFields
{
	width: 100%;
}

.loading
{
	background-image: url('chrome://griffin/skin/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}
